
.MjLogo {
    position: relative;
    top: 10px;
}
.drtype {
    position: relative;
    top: 70px;
}
.wdwrapper {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 999;
    text-align: center
}
.wdwrapper img {
    max-width: 100% !important; 
    height: auto !important;
    display: inline-block !important;
  }
.login-btn {
    bottom: 32px;
    background-color: #ffff;
    border-bottom-right-radius: 40px !important;
    border-bottom-left-radius: 40px !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}